
.icon-home:before { content: '\e800'; } /* '' */
.icon-user-add:before { content: '\e801'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
